@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root{
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-height: 100vh;
    background-color: var(--Dark-cyan);
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    flex-direction: column;
}
   
.image-top{
    position: absolute;
    top: -87%;
    left: -27%;
    z-index: -1;
}
.image-bottom
{
    position: absolute;
    bottom: -95%;
    right: -27%;
    z-index: -1;
}
.container{
    background-color: white;
    text-align: center;
    max-width: 350px;
    border-radius: 15px;
    overflow: hidden;
}
.top{
    height: 150px;
    width: 350px;
    background-image: url(./images/bg-pattern-card.svg);
    background-size: cover;
}
.img-vic{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: -50px auto -30px auto;
    border: 5px solid white;
}
.img-vic img{
    display: block;
    height: auto;
    width: 100%;
}
.card{
    margin-top: 54px;
    margin-bottom: -75px;
    height: 250px;
    line-height: 1.8rem;
}
.name{
    font-size: 1.4rem;
}
.age{
    font-weight: 500;
    font-size: 1.4rem;
    color:var(--Dark-gray);
}
.city{
    font-weight: 500;
    font-size: 1rem;
    color:var(--Dark-gray);
}
.description{
    display: block;
    font-weight: 500;
    font-size: .6rem;
    color: var(--Dark-grayish-blue);
    letter-spacing: .1rem;
}
.content{
    padding-top: 50px;
    padding-right: 40px;
    border-top: 1px solid var(--Dark-gray);
    padding-left: 40px;
    margin-top: 25px;
    display: flex;
    height: 1.1rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    line-height: 120%;
}
.content h4{
    color: black;

    font-size: 1.2rem;
}

.attribution { font-size: 11px; text-align: center; margin-top: 1rem; }
.attribution a { color: hsl(228, 45%, 44%); }